/* Base styles */
:root {
  --color-background: white; /* Default light background */
}

/* Dark theme background */
[data-theme="dark"] {
  --color-background: black; /* Dark background */
}

/* Light theme background */
[data-theme="light"] {
  --color-background: white; /* Light background */
}

/* Apply background color */
body {
  min-height: 100vh;
  background: var(--color-background);
  transition: background-color 0.5s;
}
